$footer-bg-light: #242729;
$footer-color-light: color(light);

.light-theme > div{
    .main-panel {
        .footer {
            background: $footer-bg-light;
            color: $footer-color-light;
            a {
            color: theme-color(success);
            }
        }
    }
}