$navbar-bg-light: #fafafb;
$navbar-menu-color-light: #000000;
$navbar-box-shadow-light: 20px 19px 34px -15px rgba(255, 255, 255, 0.5);
$navbar-muted-light: #535a60;
$navbar-card-bg-light: #eceae5;

.light-theme > div{
  >.navbar {
    background: $navbar-bg-light;
    .navbar-brand-wrapper {
      background: $navbar-bg-light;
      .navbar-brand {
        color: lighten(color(gray-dark), 20%);
  
        &:active,
        &:focus,
        &:hover {
          color: lighten(color(gray-dark), 10%);
        }
      }
    }
    .navbar-menu-wrapper {
      color: $navbar-menu-color-light;
      .navbar-toggler {
        color: $navbar-muted-light;
      }
      .search-field {
        .input-group {
          input {
            @include input-placeholder {
              color: $navbar-menu-color-light;
            }
          }
          i {
            color: $navbar-menu-color-light;
          }
        }
      }
      .count-indicator {
        .count-symbol,
        .count-number {
          border: 2px solid $navbar-bg-light;
        }
        .count-number {
          color: $black;
        }
        .count {
          color: $black;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: inherit;
            .navbar-profile {
              i {
                color: #272a2c;
              }
            }
          }
          &.dropdown {
            .dropdown-toggle {
              &:after {
                color: theme-color(primary);
              }
            }
            .dropdown-menu {
              &.navbar-dropdown {
                -webkit-box-shadow: 0px 0px 35px -3px rgb(255, 255, 255);
                -moz-box-shadow: 0px 0px 35px -3px rgb(255, 255, 255);
                box-shadow: 0px 0px 35px -3px rgb(255, 255, 255);
                .dropdown-item {
                  &:hover {
                    color: rgb(0, 0, 0);
                  }
                }
              }
            }
          }
          &.nav-profile {
            .nav-link {
              @extend .d-flex;
              .nav-profile-img {
                .availability-status {
                  border: 2px solid #000000;
                  &.online {
                    background: theme-color(success);
                  }
                  &.offline {
                    background: theme-color(danger);
                  }
                  &.busy {
                    background: theme-color(warning);
                  }
                }
              }
            }
          }
        }
      }
      .search {
        input {
          background: $navbar-card-bg-light;
          border: 1px solid #d1d5e0;
          &::placeholder {
            color: $navbar-muted-light;
          }
        }
      }
      .form-control {
        background-color: $navbar-card-bg-light;
        outline: 1px solid #cdd0d0;
        color: #000000;
      }
    }
  }
}