/* Sidebar */
$sidebar-bg-light: #fafafb;
$sidebar-menu-color-light: #535a60;
$sidebar-menu-active-bg-light: darken($sidebar-bg-light, 10%);
$sidebar-menu-active-color-light: #2c303a;
$sidebar-menu-hover-bg-light: darken($sidebar-bg-light, 5%);
$sidebar-menu-hover-color-light: color(black);
$sidebar-submenu-color-light: $sidebar-menu-color-light;
$sidebar-submenu-hover-bg-light: initial;
$sidebar-submenu-hover-color-light: #000000;
$sidebar-menu-icon-color-light: #373138f5;
$sidebar-menu-arrow-color-light: darken($sidebar-menu-color-light, 30%);
$sidebar-submenu-font-size-light: 0.870rem;

.light-theme{
    >.sidebar {
    background: $sidebar-bg-light;

    .sidebar-brand-wrapper {
      background: $sidebar-bg-light;

      .sidebar-brand {
        color: #020202;

        &:active,
        &:focus,
        &:hover {
            color: lighten(color(gray-dark), 10%);
        }
  
        img {
        
          filter: brightness(0%);
        }
        &.brand-logo-mini {
          img {
            filter: brightness(0%);
          }
        }
      }
    }
  
    .nav {
      .nav-item {
        .nav-link {
          color: $sidebar-menu-color-light;
          
          i {
            color: inherit;
            &.menu-icon {
              color: $sidebar-menu-icon-color-light;
            }
            &.menu-arrow {
              color: $sidebar-menu-arrow-color-light;
            }
          }
        }
  
        &.active {
          > .nav-link {
            background: $sidebar-menu-active-bg-light;
            .menu-title {
              color: $sidebar-menu-active-color-light;        
            }
            i {
              color: $black;
            }
          }
        }
    
        &.profile {
          .profile-desc {
            .profile-name {
              span {
                color: $sidebar-menu-color-light;
              }
              h5 {
                color: $black;
              }
            } 
            .profile-pic {
              .count-indicator {
                .count-symbol,
                .count-number {
                  border: 2px solid $sidebar-bg-light;
                }
                
                .count-number {
                  color: $black;
                }
                .count {
                  color: $black;
                  border: 2px solid $sidebar-bg-light;
                }
              }
            }
            .mdi-dots-vertical {
              color: $sidebar-menu-color-light;
            }
           
          }
        }
        &.nav-category {
          .nav-link {
            color: $sidebar-menu-color-light;
          }
        }
        .menu-icon {
          background: rgba($sidebar-menu-color-light, 0.2);
          color: $black;
        }
      }
      &.sub-menu {
        .nav-item {
          .nav-link {
            color: $sidebar-submenu-color-light;
            &.active {
              color: $sidebar-menu-active-color-light;
            }
            &:hover {
              color: $sidebar-submenu-hover-color-light;
              font-size: $sidebar-submenu-font-size-light;
            }
          }
          &:hover {
            background: transparent;
          }
        }
      }
      &:not(.sub-menu) {
        >.nav-item {
          &:hover {
            &:not(.nav-category):not(.account-dropdown) {
              >.nav-link {
                background: $sidebar-menu-hover-bg-light;
                color: $sidebar-menu-hover-color-light;
              }
            }
          }
        }
      }
    }
  }
}


/* Miscellanoeous */

$content-bg-light: #fafafb;
$body-color-light: #000000;

.light-theme > div{
  .main-panel {
    .content-wrapper { 
      background: $content-bg-light;
    }
    .page-title {
      color: $body-color-light;
    }

    .page-header {
      background: $content-bg-light;
      color: $body-color-light;
      border-color: $body-color-light;
      > * {
        background: $content-bg-light;
        color: $body-color-light;
        border-color: $body-color-light;
      }
      > a {
          &:hover {
            color: #ffffff;
            border-color: #ffffff;
            background: #000000;
          }
      }
    }
  }
}


$navbar-bg-light: #fafafb;
$navbar-menu-color-light: #000000;
$navbar-box-shadow-light: 20px 19px 34px -15px rgba(255, 255, 255, 0.5);
$navbar-muted-light: #535a60;
$navbar-card-bg-light: #eceae5;

.light-theme > div{
  >.navbar {
    background: $navbar-bg-light;
    .navbar-brand-wrapper {
      background: $navbar-bg-light;
      .navbar-brand {
        color: lighten(color(gray-dark), 20%);
  
        &:active,
        &:focus,
        &:hover {
          color: lighten(color(gray-dark), 10%);
        }
      }
    }
    .navbar-menu-wrapper {
      color: $navbar-menu-color-light;
      .navbar-toggler {
        color: $navbar-muted-light;
      }
      .search-field {
        .input-group {
          input {
            @include input-placeholder {
              color: $navbar-menu-color-light;
            }
          }
          i {
            color: $navbar-menu-color-light;
          }
        }
      }
      .count-indicator {
        .count-symbol,
        .count-number {
          border: 2px solid $navbar-bg-light;
        }
        .count-number {
          color: $black;
        }
        .count {
          color: $black;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: inherit;
            .navbar-profile {
              i {
                color: #272a2c;
              }
            }
          }
          &.dropdown {
            .dropdown-toggle {
              &:after {
                color: theme-color(primary);
              }
            }
            .dropdown-menu {
              &.navbar-dropdown {
                -webkit-box-shadow: 0px 0px 35px -3px rgb(255, 255, 255);
                -moz-box-shadow: 0px 0px 35px -3px rgb(255, 255, 255);
                box-shadow: 0px 0px 35px -3px rgb(255, 255, 255);
                .dropdown-item {
                  &:hover {
                    color: rgb(0, 0, 0);
                  }
                }
              }
            }
          }
          &.nav-profile {
            .nav-link {
              @extend .d-flex;
              .nav-profile-img {
                .availability-status {
                  border: 2px solid #000000;
                  &.online {
                    background: theme-color(success);
                  }
                  &.offline {
                    background: theme-color(danger);
                  }
                  &.busy {
                    background: theme-color(warning);
                  }
                }
              }
            }
          }
        }
      }
      .search {
        input {
          background: $navbar-card-bg-light;
          border: 1px solid #d1d5e0;
          &::placeholder {
            color: $navbar-muted-light;
          }
        }
      }
      .form-control {
        background-color: $navbar-card-bg-light;
        outline: 1px solid #cdd0d0;
        color: #000000;
      }
    }
  }
}

// FOOTER LIGHT

$footer-bg-light: #242729;
$footer-color-light: color(light);

.light-theme > div{
    .main-panel {
        .footer {
            background: $footer-bg-light;
            color: $footer-color-light;
            a {
            color: theme-color(success);
            }
        }
    }
}